body {
  font-family: 'Montserrat', sans-serif;
  line-height: 2.0
}


div.transbox {
  font-size: 6vw;
}

.img-responsive {
  padding-top: 30px;
  padding-bottom: 30px;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
}
